<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>spotify-sdk-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A661DDA11B9E36E600AC9F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A661DDB51B9E36E700AC9F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A661DDC01B9E36E700AC9F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
